---
layout: two-columns
title: Fairphone
---
<p>Die holländische Firma *Fairphone* ist bestrebt ein Smartphone anbieten zu können, welches auf der gesamten Produktionslinie fair und ressourcenschonend produziert wird.</p>
<p>Neben dem Verkauf des Fairphone 2 bieten wir Support und Workshops rund um das Gerät an. Mit unserem Partner <a href="http://fairphone.faircustomer.ch/">faircustomer.ch</a> der den Webshop stellt und für die Community Arbeit zuständig ist, reinvestieren wir zudem einen Teil unseres Gewinns in den Bereich Marketing, um die Idee von Fairphone weiter voran treiben zu können.</p>
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Fairphone" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}
