---
layout: two-columns
title: Fairphone
---
<p>Die holländische Firma "Fairphone" ist bestrebt ein Smartphone anbieten zu können, welches auf der gesamten Produktionslinie fair und ressourcenschonend produziert wird.</p>
<p>Wir übernehmen zusammen mit unserem Partner <a href="http://fairphone.faircustomer.ch/">faircustomer.ch</a> die Logistik, Kommunikation und Abwicklung der Bestellungen für die Schweiz.</p>
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Fairphone" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}
