---
layout: two-columns
title: Fairphone
---
<p>Fairphone ist ein Sozialunternehmen ('social enterprise'), das soziale und ökologische Werte an erster Stelle stellt bei ihrer Produktion. Das Ziel ist ein wirklich cooles Smartphone zu entwickeln, das mit minimalen Auswirkungen für Menschen und den Planeten entworfen und produziert wird. Mehr Informationen über Fairphone und deren Ziele finden Sie <a href="https://www.fairphone.com/de/unsere-ziele/">hier</a>.</p>

<p>Die sinndrin genossenschaft ist seit der Fairphone 1 Crowdfunding-Phase (2013) bewährte Partnerin von Fairphone in der Schweiz. Dabei ist es uns wichtig, dass wir unseren Kunden neben einfachen Abläufen auch kompetenten Reparaturservice, Support und Hilfe anbieten. Der rege Austausch mit Fairphone in Holland hilft uns, unseren hohen Qualitätansprüchen gerecht zu werden.</p>

<p>Desweiteren bieten wir Workshops rund um das Gerät an und reinvestieren einen Teil unserer Einnahmen in den Bereich Marketing, um die Idee von Fairphone weiter voran treiben zu können.</p>

<p>Wenn Sie bei uns ein Gerät kaufen...</p>
<p>... sind die Stromkosten für das Aufladen des Gerätes für 5 Jahre mit <a href="http://www.energiegenossenschaft.ch/wp2/produkte/solarstrom-kaufen/">100% Schweizer Solarstrom</a> gesponsert.</p>
<p>... ist der Versand CO2-Neutral.</p>
<p>... wissen Sie wie die Kosten des Gerätes aufgeteilt sind, weil <a href="#kostenaufstellung">Transparenz</a> uns wichtig ist.</p>
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Fairphone" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}

