---
layout: homepage
title: Home
---
<div class="row">
  <div class="columns">
    &nbsp;<br>
    <a href="/ueber-uns/">
    <div class="panel callout">
      <h3 class="text-left">Die sinndrin genossenschaft ...</h3>
      <p class="text-center"><br>... fördert faire Projekte.<br>
        ... setzt sich für die Energiewende ein.<br>
        ... unterstützt den effizienten Ressourceneinsatz.<br>
        ... entrümpelt, entschleunigt, entflechtet und entkommerzialisiert.<br>
        ... sensibilisiert in Umweltthemen.<br>
        ... verbindet Menschen.</p>
      <h3 class="text-right">... macht alles was Sinn macht.</h3>
    </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
      <div class="coulumns">
      <div class="panel">
        <a href="/angebote/">
          <h2>Unsere Angebote</h2><br>
          <!--<div class="angebote-img mit-uns-zusammen-arbeiten"><h5><span>Angebote</span></h5></div>-->
          <img src="/homepage-angebote.jpg">
        </a>
      </div>
      </div>
      <div class="coulumns">
        <a href="/ueber-uns/realisierte-projekte/">
        <div class="panel">
            <h2>Kürzlich abgeschlossene Projekte</h2><br>
            <!-- BEGIN realisierte-projekte-list -->
            {% for post in site.categories.realisierte-projekte limit:3 %}
            {% include block/realisierte-projekte-list.html %}
            {% endfor %}
            <!-- END realisierte-projekte-list -->
        </div>
        </a>
      </div>
  </div>
  <div class="large-3 columns">
    <div class="panel">
      <h2>Blog</h2><br>
      <div class="row">
        <div id="blog">
          {% for post in site.categories.blog limit:3 %}
          <div class="large-12 columns">
            <a href="{{ post.url }}">
              <h4>{{ post.title }}</h4>

              <div class="meta"><i class="fi-marker"></i> {{ post.tags }} |
                <!-- Whitespace added for readability -->
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}Januar
                {% when '2' %}Februar
                {% when '3' %}M&auml;rz
                {% when '4' %}April
                {% when '5' %}Mai
                {% when '6' %}Juni
                {% when '7' %}Juli
                {% when '8' %}August
                {% when '9' %}September
                {% when '10' %}Oktober
                {% when '11' %}November
                {% when '12' %}Dezember
                {% endcase %}
                {{ post.date | date: "%Y" }}
              </div><br>
              <img src="{{ post.image }}">
            </a>
            <hr>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>