<!-- BEGIN angebote-lvl2 -->
<div class="row">
  <div class="angebot">
    <a href="{{ post.url }}">
      <div class="medium-4 columns">
        <img src="{{ post.image }}">
      </div>
      <div class="medium-8 columns">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content | strip_html | truncatewords: 20 }} <span style="color:rgb(0, 140, 186);">{% include block/mehr-button.html %}</span></p>
      </div>
    </a>
    <div class="small-12 columns">
      <hr>
    </div>
  </div>
</div>
<!-- END angebote-lvl2 -->