<div class="panel callout">
  <h5>Weitere Angebote rund um das Fairphone</h5>
  <ul>
    <li><a href="/angebote/fairphone/kaufen/">Fairphone Kaufen</a></li>
    <li><a href="/angebote/fairphone/reparatur/">Reparatur</a></li>
    <li><a href="/angebote/fairphone/zubehoer/">Zubehör (Akku & Hülle)</a></li>
    <li><a href="/angebote/bildung/smartphone-kurs/">Smartphone Kurs</a></li>
  </ul>
</div>

<h2>Über Fairphone</h2>

<p>Die holländische Firma "Fairphone" ist bestrebt, ein Smartphone anbieten zu können, welches auf der gesamten Produktionslinie fair und ressourcenschonend produziert wird. Sie stellen die ethischen Bedürfnisse und Transparenz an erste Stelle und erst an zweite den finanziellen Profit. Auf diese Weise will Fairphone das Bewusstsein der Konsumenten über den sozialen und ökologischen Einfluss der Produktion von Elektroprodukten erhöhen, sowie die Messlatte für die gesamte Elektronikindustrie erhöhen. Ein Versprechen, das nicht nur propagiert sondern auch umgesetzt wird, wie <a href="/blog/2014/09/12/fairphone-ja-oder-nein/">unser Blogeintrag</a> zeigt.</p>
