<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://prod.sinndrin.ch/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "3"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- Piwik Image Tracker -->
<noscript><img src="https://prod.sinndrin.ch/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik Image Tracker -->
<!-- End Piwik Code -->