---
layout: two-columns
title: Suffizienz
---
<p>Die Suffizienzstrategie scheint schwierig in der Praxis umsetzbar zu sein. Anders als bei Effizienz- und Konsistenzmassnhamen reichen für Suffizienzmassnahmen technologische Anpassungen nicht aus.</p>

<p>Wir bieten, aufbauend auf einer fundierten <a href="/hintergrundwissen/suffizienz/">Theoretischen Grundlage</a>, Unterstützung bei der Integration der vier grundlegenden Suffizienzstrategien Entschleunigung, Entrümpelung, Entflechtung und Entkommerzialisierung. Damit können Sie genussvoll und mit Leichtigkeit das gute Mass wiedererlangen.</p>
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Suffizienz" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}
