---
layout: two-columns
title: 'Multivisions-Show: Ein Älpler auf dem Ozean'
published: true
---
<div class="angebot-top-wide"><img title="Multivisionsshow: Ein Älpler auf dem Ozean" src="/images/angebote/multivisionsshow_sub.jpg"></div>

<p>Kommen Sie mit auf ein Abenteuer - mit Sicherheit!

<p>Der Älpler, Coach und Erwachsenenbildner Michael Tanner erzählt von seinen Erlebnissen mit dem Segelschiff über den Atlantik. Von Portugal über die Kanaren in die Karibik und zurück.</p>

<p>Mit öffentlichen Verkehrsmitteln durch Zentralamerika und zu den Zapatist*innen Mexikos.</p>

<p>Ein persönlicher Bericht mit Bild und Ton von Begegnungen mit speziellen Menschen, faszinierenden Tieren und wunderbaren Kräften der Natur.</p>

<p><a href="05_sogl_72_2017-10-09.pdf">"Die Abenteuer-Show zeigt Eindrückliches" - (Südostschweiz-Zeitung)</a></p>

<h2>Angebot</h2>

<p>Nach der Tournee durch Teile der Schweiz kommt die Live-Abenteuer-Erzählung nun zu Ihnen.

<p>Beste Unterhaltung für Sie und Ihre Gäste - mit humorvoll-philosophischen Gedanken aus Älplerperspektive.

<h3>Das erwartet Sie:</h3>
<ul>
  <li>Live-Erzählung mit eindrücklichen Bildern, interessanten Videoausschnitten und schöner Musik.</li>
  <li>Erzählung der Atlantiküberquerung mit dem Segelschiff und von Ländern, Inseln, Landschaften, Menschen, Tieren und Pflanzen.
  <li>Reise hin und zurück, betrachtet aus der Perspektive eines Älplers.</li>
  <li>Eindrücke der Alp.</li>
  <li>Begegnungen in Vilamoura Portugal.</li>
  <li>Der erste Sturm.</li>
  <li>Begegnung mit Delfinen.</li>
  <li>Landschaften, Pflanzen, Tiere auf Fuerteventura, Kanaren.</li>
  <li>Vorbereitungen auf Las Palmas.</li>
  <li>Die Reise über den Atlantik.</li>
  <li>Überraschungen unterwegs.</li>
  <li>Land in Sicht - Erkundungen auf Barbados.</li>
  <li>Wundervolle Zufälle.</li>
  <li>Magische St. Blas Inseln.</li>
  <li>Panamakanal.</li>
  <li>Tiere und Pflanzen im Nebelwald, Costa Ricas.</li>
  <li>Stimmungen in Zentralamerika.</li>
  <li>Menschenrechtsbeobachtung bei den Zapatist*innen Chiapas'.</li>
  <li>Die Wasserfälle von Aguazul.</li>
  <li>Rückreise via Mexiko Stadt und mit dem Segelschiff von Sint Maarten über die Azoren nach Lissabon und nach Hause.</li>
</ul>

<h3>Dauer</h3>
<p>125 min. inkl. 20 min. Pause.</p>

<h3>Preis</h3>

<p>Fr. 750.- (alles inkl. (Schweiz und grenznahes Ausland))</p>

<p>Reduktion für gemeinnützige Organisationen und Private nach Bedarf.</p>

<h3>Medienecho</h3>

<a href="05_sogl_72_2017-10-09.pdf"><img width=340 style="float:left; padding-right: 50px;" src="medienecho1.jpg" /></a>
<a href="05_sogl_72_2017-10-06.pdf"><img width=200 style="float:left;" src="medienecho2.jpg" /></a>
<p style="clear:left;">&nbsp;</p>

<img style="float:left; padding: 20px;" src="/images/ueber-uns/team/michael.png" /> Buchen Sie die Live-Abenteuer-Erzählung "Ein Älpler auf dem Ozean" für Ihr Unternehmen oder privat. <a href="/ueber-uns/team/michael-tanner/">Michael Tanner</a> freut sich auf Ihre Anfrage via Telefon unter 079 542 52 12 (nachmittags oder abends) oder <a href="mailto:michael.tanner@sinndrin.ch">E-Mail</a>.

<p style="clear:left;">&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Multivisionsshow" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %} 

<img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/medienpartner.jpg">
<a href="http://zeitpunkt.ch/"><img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/zeitpunkt-logo.jpg"></a>
