---
layout: two-columns
title: 'Multivisions-Show: Ein Älpler auf dem Ozean'
published: true
---
<div class="angebot-top-wide"><img title="Multivisionsshow: Ein Älpler auf dem Ozean" src="/images/angebote/multivisionsshow_sub.jpg"></div>

<p>Ein persönlicher Abenteuerbericht einer Reise mit dem Segelschiff über den Atlantik von Europa in die Karibik und zurück. Mit öffentlichen Verkehrsmitteln durch Zentralamerika und zu den Zapatistinnen Mexikos. Michael Tanner erzählt von seiner aussergewöhnlichen Reise über den Ozean, von Begegnungen mit speziellen Menschen, faszinierenden Tieren und magischen Kräften der Natur. </p>

<img class="leadimage left" width="350" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/medienpartner-aelpler-ozean.jpg">

<a target="_blank" href="https://v3.ticketino.com/v3/de/Search/?q=%C3%A4lpler%20auf%20dem%20ozean" class="button big expand"><i class="fi-arrow-right"></i> Ticket kaufen</a>

<iframe datasrc="https://customer.ticketino.com/Defaultiframe.aspx?id=727&userid=1273362&lang=de" width="600" height="1700" frameborder="0" src="https://customer.ticketino.com/Defaultiframe.aspx?id=727&userid=1273362&lang=de"></iframe>
 
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Multivisionsshow" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}

<img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/medienpartner.jpg">
<img class="leadimage left" width="50" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/radio-central-logo.jpg">
<img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/zeitpunkt-logo.jpg">
