---
layout: two-columns
title: 'Multivisions-Show: Ein Älpler auf dem Ozean'
published: true
---
<div class="angebot-top-wide"><img title="Multivisionsshow: Ein Älpler auf dem Ozean" src="/images/angebote/multivisionsshow_sub.jpg"></div>

<p>Persönliche Reportage einer Segelreise über den Atlantik:</p>
<p>Portugal-Kanaren-Karibik-Panama. Mit ÖV zu den ZapatistInnen Mexikos.</p>
<p>Live-Abenteuererzählung mit schönen Bildern, Videoaufnahmen und Musik. Von Begegnungen mit speziellen Menschen, faszinierenden Tieren und wunderbaren Kräften der Natur.</p>

<p>Eigentlich wollte er vor allem seine Freunde in Mexiko besuchen. Da er aus innerer Überzeugung nicht fliegen wollte, ist eine Abenteuerreise daraus geworden. Michael Tanner ist mit Segelschiffen über den Atlantik gefahren, von Portugal über die Kanaren und die Kleinen Antillen nach Panama und von dort mit Zug und Fernbussen durch Zentralamerika nach Mexiko zur Menschenrechts-Beobachtung bei den ZapatistInnen.</p>

<p>In den zwei Stunden (inkl. Pause) werden Sie mit auf eine Reise mit dem Segelschiff von Portugal über die Kanaren in die Karibik bis auf die San Blas-Inseln Panamas und weiter per ÖV nach Mexiko mitgenommen. Untermalt von schöner Musik werden Sie von achtsamen Menschen und speziellen Tieren erfahren, wunderbare Landschaften auf Fotos und in Videoausschnitten sehen, sowie die Schönheit der Inseln und die Weite des Atlantiks in vielen seiner Qualitäten miterleben. Sie sehen und hören auch, wie es sich auf einem Segelschiff auf dem Meer lebt. </p>

<a target="_blank" href="https://v3.ticketino.com/v3/de/Search/?q=%C3%A4lpler%20auf%20dem%20ozean" class="button big expand"><i class="fi-arrow-right"></i> Ticket kaufen</a>

Abendkasse öffnet jeweils eine Stunde vor Beginn des Anlasses.

<iframe datasrc="https://customer.ticketino.com/Defaultiframe.aspx?id=727&userid=1273362&lang=de" width="600" height="1700" frameborder="0" src="https://customer.ticketino.com/Defaultiframe.aspx?id=727&userid=1273362&lang=de"></iframe>
 
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Multivisionsshow" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}

<img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/medienpartner.jpg">
<a href="http://radiocentral.ch/"><img class="leadimage left" width="50" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/radio-central-logo.jpg"></a>
<a href="http://zeitpunkt.ch/"><img class="leadimage left" width="100" title="Medienpartner" src="https://www.sinndrin.ch/images/angebote/zeitpunkt-logo.jpg"></a>
