---
layout: two-columns
title: Blog
---
<div class="row">
  <!-- subblog unterwegs showcase BEGIN -->
  <div class="panel">
    <a href="/blog/unterwegs/">
    <h4>Aktuelle Spezial-Blogserie "sinndrin underwägs"</h4>
    <img style="margin-right:20px;" width="100" class="left" alt="Diesbachfall" src="/images/blog/unterwegs/diesbachfall.jpg" />
    <h5>Transatlantic: Vom Diesbach Glarus nach Aguazul Mexiko</h5>
    <p>sinndrin Genossenschafter Michael Tanner fährt auf einem Segelkatamaran in Richtung Karibik und Mexiko. In seinem Blog teilt er seine Erlebnisse mit uns. {% include block/mehr-button.html %}</p>
    <br style="clear:both;">
    </a>
  </div>
  <!-- subblog unterwegs showcase END -->
  <div id="blog">
    {% for post in site.categories.blog %}
    {% comment %} CHECK IF THE POST IS PART OF A SUB-BLOG {% endcomment %}
    {% if post.categories contains 'unterwegs' %}
    {% comment %} DO NOTHING {% endcomment %}
    {% else %}
    {% include block/blog-list.html %}
    {% endif %}
    {% endfor %}
  </div>
</div>