{% assign location = page.url | remove_first:'/' | split:'/' %}
<ul class="side-nav">
  <li {% if location.size == 1 %}class="active" {% endif %}><a href="/angebote/">Angebote</a></li>
  <ul class="second">
    <!-- Bildung -->
    {% assign secondPath = 'bildung' %}
    {% assign secondName = 'Bildung' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>
    {% if location[1] == secondPath %}
    <ul class="third">
      {% assign thirdPath = 'bachelor-und-semsterarbeiten-begleiten' %}
      {% assign thirdName = 'Bachelor- und Semsterarbeiten begleiten' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
      {% assign thirdPath = 'schulbesuche' %}
      {% assign thirdName = 'Schulbesuche' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
    </ul>
    {% endif %}
    <!-- Energie -->
    {% assign secondPath = 'energie' %}
    {% assign secondName = 'Energie' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>
    {% if location[1] == secondPath %}
    <ul class="third">
      {% assign thirdPath = 'energieanzeigen' %}
      {% assign thirdName = 'Energieanzeigen' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
      {% assign thirdPath = 'energieberatung' %}
      {% assign thirdName = 'Energieberatung' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
    </ul>
    {% endif %}
    <!-- Suffizienz -->
    {% assign secondPath = 'suffizienz' %}
    {% assign secondName = 'Suffizienz' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>
    {% if location[1] == secondPath %}
    <ul class="third">
      {% assign thirdPath = 'suffizienz-in-zuerich-erleben' %}
      {% assign thirdName = 'Suffizienz in Zürich erleben' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
    </ul>
    {% endif %}
    <!-- Administration und IT -->
    {% assign secondPath = 'administration-und-it' %}
    {% assign secondName = 'Administration und IT' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>
    {% if location[1] == secondPath %}
    <ul class="third">
      {% assign thirdPath = 'geschaeftsprozesse-optimieren' %}
      {% assign thirdName = 'Geschäftspro&shy;zes&shy;se optimieren' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
      {% assign thirdPath = 'webdesign' %}
      {% assign thirdName = 'Webdesign' %}
      <li {% if location[2] == thirdPath and location.size == 3 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/{{thirdPath}}/">{{thirdName}}</a></li>
    </ul>
    {% endif %}
    <!-- Fairphone -->
    {% assign secondPath = 'fairphone' %}
    {% assign secondName = 'Fairphone' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>
    <!-- Fachbücherbörse -->
    {% assign secondPath = 'fachbuecherboerse' %}
    {% assign secondName = 'Fachbücherbörse' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/angebote/{{secondPath}}/">{{secondName}}</a></li>

  </ul>
</ul>