{% assign location = page.url | remove_first:'/' | split:'/' %}
<ul class="side-nav">
  <li {% if location.size == 1 %}class="active" {% endif %}><a href="/hintergrundwissen/">Hintergrundwissen</a></li>
  <ul class="second">
    <!-- Erlebnispfade -->
    {% assign secondPath = 'erlebnispfade' %}
    {% assign secondName = 'Erlebnispfade' %}
    <li {% if location[1] == secondPath and location.size == 2 %}class="active" {% endif %}><a href="/hintergrundwissen/{{secondPath}}/">{{secondName}}</a></li>
    <!-- Jobs im Umweltbereich -->
    <li {% if location[1] == 'jobs-im-umweltbereich' %}class="active" {% endif %}><a href="/hintergrundwissen/jobs-im-umweltbereich/">Jobs im Umweltbereich</a></li>
    <!-- Minutos -->
    <li {% if location[1] == 'minutos' %}class="active" {% endif %}><a href="/hintergrundwissen/minutos/">Minutos</a></li>
    <!-- Suffizienz -->
    <li {% if location[1] == 'suffizienz' %}class="active" {% endif %}><a href="/hintergrundwissen/suffizienz/">Suffizienz</a></li>
  </ul>
</ul>