{% assign location = page.url | remove_first:'/' | split:'/' %}
<ul class="side-nav">
  <li {% if location.size == 1 %}class="active" {% endif %}><a href="/ueber-uns/">Über uns</a></li>
  <ul class="second">
    <li {% if location[1] == 'team' %}class="active" {% endif %}><a href="/ueber-uns/team/"><i class="fi-torsos-male-female"></i> Team</a></li>
    <li {% if location[1] == 'vision' %}class="active" {% endif %}><a href="/ueber-uns/vision/"><i class="fi-arrows-out"></i> Vision</a></li>
    <li {% if location[1] == 'realisierte-projekte' %}class="active" {% endif %}><a href="/ueber-uns/realisierte-projekte/"><i class="fi-check"></i> Realisierte<br><i class="fi-check" style="opacity:0.0; filter:alpha(opacity=00);"></i>  Projekte</a></li>
    <li {% if location[1] == 'geschichte' %}class="active" {% endif %}><a href="/ueber-uns/geschichte/"><i class="fi-calendar"></i> Geschichte</a></li>
    <li {% if location[1] == 'jobs' %}class="active" {% endif %}><a href="/ueber-uns/jobs/"><i class="fi-puzzle"></i> Jobs</a></li>
    <li {% if location[1] == 'kontakt' %}class="active" {% endif %}><a href="/ueber-uns/kontakt/"><i class="fi-comment"></i> Kontakt</a></li>
  </ul>
</ul>