<!-- Über uns -->
<!--<h5>Über uns</h5>-->
{% assign location = page.url | remove_first:'/' | split:'/' %}
<ul class="side-nav">
  <li {% if location.size == 1 %}class="active" {% endif %}><a href="/ueber-uns/">Über uns</a></li>
  <ul class="second">
    <li {% if location[1] == 'kontakt' %}class="active" {% endif %}><a href="/ueber-uns/kontakt/">Kontakt</a></li>
    <li {% if location[1] == 'mitglied-werden' %}class="active" {% endif %}><a href="/ueber-uns/mitglied-werden/">Mitglied werden</a></li>
    <li {% if location[1] == 'vision' %}class="active" {% endif %}><a href="/ueber-uns/vision/">Vision</a></li>
    <li {% if location[1] == 'team' %}class="active" {% endif %}><a href="/ueber-uns/team/">Team</a></li>
    <li {% if location[1] == 'mit-uns-zusammen-arbeiten' %}class="active" {% endif %}><a href="/ueber-uns/mit-uns-zusammen-arbeiten/">Mit uns zusammen arbeiten</a></li>
    <li {% if location[1] == 'geschichte' %}class="active" {% endif %}><a href="/ueber-uns/geschichte/">Geschichte</a></li>
    <li {% if location[1] == 'jobs' %}class="active" {% endif %}><a href="/ueber-uns/jobs/">Jobs</a></li>
  </ul>
</ul>