---
layout: two-columns
title: Solarenergie
permalink: /angebote/energie/
---
<p>Die Zukunft wird erneuerbar sowie frei von fossilen und atomaren Energieträgern sein. Unser Know-How setzen wir daher im Bereich Solarenergie ein, als eine der neuen erneuerbaren Energietechniken. Unserer Meinung nach ist die Solarenergie zur Zeit der beste dezentrale Energieträger.</p>

<h4>Wenn Sie mit uns eine Solaranlage realisieren...</h4>
<ul style="list-style-type:none;">
  <li>... können Sie Komponenten wählen, die einen kleinen ökologischen Fussabdruck aufweisen.</li>
  <li>... wissen sie, dass uns das <a href="/ueber-uns/gemeinwohlbilanz-2014">Gemeinwohl</a> wichtig ist.</li>
  <li>... Sie eine engen Zusammenarbeit erhalten.</li>
</ul>

<b>Gestalten Sie mit uns die Zunkunft im Bereich Energie.</b>b>
<p>&nbsp;</p>
{% for post in site.categories.angebote %}
{% if post.tags contains "Energie" %}
{% include block/angebote-lvl2.html %}
{% endif %}
{% endfor %}
