---
layout: two-columns
title:  "Angebote"
---
<!-- first row -->
<div class="row" data-equalizer>
  <div class="large-6 columns" data-equalizer-watch>
    <a href="/angebote/energie/"><div class="angebote-img energie"><h5><span>Solarenergie</span></h5></div></a>
    <div class="angebote-energie">
      <ul class="side-nav">
        {% for post in site.categories.angebote %}
        {% if post.tags contains "Energie" %}
        <li><a class="angebot" href="{{ post.url }}"><i class="fi-arrow-right"></i> {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="large-6 columns" data-equalizer-watch>
    <a href="/angebote/fairphone/"><div class="angebote-img fairphone"><h5><span>Fairphone</span></h5></div></a>
    <div class="angebote-fairphone">
      <ul class="side-nav">
        {% for post in site.categories.angebote %}
        {% if post.tags contains "Fairphone" %}
        <li><a class="angebot" href="{{ post.url }}"><i class="fi-arrow-right"></i> {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- second row -->
<div class="row" data-equalizer>
  <div class="padding-top: 40px;">&nbsp;<br>&nbsp;<br>&nbsp;</div>
  <h2>Weitere Angebote finden Sie in unserem <a href="/angebote/experimentierlabor/">Experimentierlabor</a>.</h2>
</div>
