---
layout: two-columns
title:  "Angebote"
---
<!-- first row -->
<div class="row" data-equalizer>
  <div class="large-6 columns" data-equalizer-watch>
    <a href="/angebote/energie/"><div class="angebote-img energie"><h5><span>Solarenergie</span></h5></div></a>
    <div class="angebote-energie">
      <ul class="side-nav">
        {% for post in site.categories.angebote %}
        {% if post.tags contains "Energie" %}
        <li><a class="angebot" href="{{ post.url }}"><i class="fi-arrow-right"></i> {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="large-6 columns" data-equalizer-watch>
    <a href="/angebote/fairphone/"><div class="angebote-img fairphone"><h5><span>Fairphone</span></h5></div></a>
    <div class="angebote-fairphone">
      <ul class="side-nav">
        {% for post in site.categories.angebote %}
        {% if post.tags contains "Fairphone" %}
        <li><a class="angebot" href="{{ post.url }}"><i class="fi-arrow-right"></i> {{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- last row -->
<div class="row" data-equalizer>
  <div class="large-12 columns" data-equalizer-watch>
    <a href="/angebote/weitere-angebote/"><div class="angebote-img mit-uns-zusammen-arbeiten"><h5><span>Weitrere Angebote</span></h5></div></a>
    <div class="angebote-ihre-idee">
      <p style="font-size: 14px; margin-top: 14px;">Hier finden sie unsere <a href="/angebote/weitere-angebote/">weiteren Angebote</a>.
      </p>
    </div>
  </div>
</div>
