---
layout: two-columns
title: "Transatlantic: Vom Diesbach Glarus nach Aguazul Mexiko"
---
<p>sinndrin Genossenschafter <a href="/ueber-uns/team/michael-tanner/">Michael Tanner</a> fährt auf Segelschiffen via Kleine Antillen nach Panama und per ÖV nach Mexiko. In diesem Blog teilt er seine Erlebnisse mit uns. Einen Überblick über sein Vorhaben verschafft der <a href="/assets/files/michael-tanner/michael-tanner-glarner-woche-20151014.pdf">Zeitungsartikel</a> in der Glarner Woche.</p>
<p>
<ul>
  <li>Wo befindet sich das Schiff "Aliena" jetzt? <a href="http://www.marinetraffic.com/en/ais/home/shipid:3514378/zoom:10">Link zum Standort</a>.</li>
  <li><a href="/assets/files/michael-tanner/michael-tanner-glarner-woche-20151111.pdf">Reisebericht in der Glarner Woche vom 11. November 2015</a></li>
</ul>
</p>
<div class="row">
  <div id="blog">
    {% for post in site.categories.unterwegs %}
    {% include block/blog-list.html %}
    {% endfor %}
  </div>
</div>
