---
layout: two-columns
title: "Transatlantic: Vom Diesbach Glarus nach Aguazul Mexiko"
---
<p>sinndrin Genossenschafter <a href="/ueber-uns/team/michael-tanner/">Michael Tanner</a> fährt auf einem Segelkatamaran in Richtung Karibik und Mexiko. In diesem Blog teilt er seine Erlebnisse mit uns. Einen Überblick über sein Vorhaben verschafft der <a href="/assets/files/michael-tanner/michael-tanner-glarner-woche-20151014.pdf">Zeitungsartikel</a> in der Glarner Woche.</p>
<p>Wo befindet sich das Schiff "baharii" jetzt? <a href="http://share.findmespot.com/shared/faces/viewspots.jsp?glId=07q6Cx2qTACJnNnMrdL17j54ou5fXb1Qh" Link zum Standort</a></a></p>
<div class="row">
  <div id="blog">
    {% for post in site.categories.unterwegs %}
    {% include block/blog-list.html %}
    {% endfor %}
  </div>
</div>
