---
layout: default
---
{% comment %} get the current post in the variable currentpost {% endcomment %}
{% for post in site.categories.team %}
{% if post.title == page.tags[0] %}
{% assign currentpost = {{post}} %}
{% endif %}
{% endfor %}
<div class="large-9 columns content">
  <div id="blog">
    <h1>{{ page.title }}</h1>
    <div class="meta"><i class="fi-marker"></i> <a href="{{currentpost.permalink}}">{{ page.tags[0] }}</a> |
      <!-- Whitespace added for readability -->
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case m %}
      {% when '1' %}Januar
      {% when '2' %}Februar
      {% when '3' %}M&auml;rz
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
      {% endcase %}
      {{ page.date | date: "%Y" }}</div>

    <div class="post">
      {{ content }}
    </div>
  </div>
</div>

<div class="large-3 columns aside">
  <br>
  <div class="byline">
    <span class="thumb team" style="background-image:url({{currentpost.image-thumb}})"></span>
    <span class="text team"><a href="{{currentpost.permalink}}">{{currentpost.title}}</a> {{currentpost.byline}}</span>
  </div>
</div>
