<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} - {{ site.name }}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css"/>
  <script src="/assets/foundation/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<!-- Navigation -->
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar data-options="custom_back_text: false">
    <ul class="title-area">
      <li class="name"><h1><a href="/">{{ site.name }}</a></h1></li>
      <!--<li class="name"><a href="/"><img style="padding:5px;" width="90px" src="/images/logo-sinndrin.resized.jpg"></a></li>-->
      <li class="toggle-topbar menu-icon"><a href="#">Menü</a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider hide-for-small"></li>
        {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
        <li
          {% if location == 'angebote' %}class="active" {% endif %}>
          <a href="/angebote/"><i class="fi-book"></i> Angebote</a></li>
        <li class="divider hide-for-small"></li>
        <li
        {% if location == 'ueber-uns' %}class="active" {% endif %}><a href="/ueber-uns/">
        <i class="fi-results-demographics"></i> Über uns</a></li>
        <li class="divider hide-for-small"></li>
        <li
          {% if location == 'hintergrundwissen' %}class="active" {% endif %}><a href="/hintergrundwissen/">
          <i class="fi-list"></i> Hintergrundwissen</a></li>
        <li class="divider hide-for-small"></li>
        <li
          {% if location == 'blog' %}class="active" {% endif %}><a href="/blog/">
          <i class="fi-megaphone"></i> Blog</a></li>
        <li class="divider hide-for-small"></li>
        <li><a href="/ueber-uns/kontakt/"><i class="fi-telephone"></i> Kontakt</a></li>
        <li class="divider hide-for-small"></li>
        <li><a href="#" data-reveal-id="searchModal"><i class="fi-magnifying-glass"></i> Suchen</a></li>
      </ul>
      <!-- Right Nav Section -->
      <!--
      <ul class="right">
      </ul>
      -->
    </section>
  </nav>
</div>
<!-- Navigation end -->
<div class="row">
  <div class="large-12 columns">

    <!-- Content -->
    <div class="row">
      {{ content }}
    </div>
    <!-- Content end -->

    <!-- BEGIN Social Share Button -->
    <div class="row">
      <div class="columns">
        <div id="socialshareprivacy"></div>
      </div>
    </div>
    <!-- END Social Share Button -->

    <!-- BEGIN Disqus Comments -->
    {% include block/disqus-comments.html %}
    <!-- END Disqus Comments -->

    <!-- Footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-12 columns">
            <p class="text-center"><span style="white-space: nowrap;">sinndrin genossenschaft</span> | <span style="white-space: nowrap;">Alfred-Escher-Strasse 46</span> | <span style="white-space: nowrap;">CH-8002 Zürich</span> | <span style="white-space: nowrap;"><i class="fi-telephone"></i> 044 534 64 54</span> | <span style="white-space: nowrap;"><a href="mailto:info@sinndrin.ch"><i class="fi-mail"></i> info@sinndrin.ch</a></span> | <a href="/ueber-uns/impressum/">Impressum</a> | <a href="/ueber-uns/copyright/">Copyright</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
  </div>
</div>

<!-- Reveal Modals begin -->
<div id="searchModal" class="reveal-modal" data-reveal>
  <h2>Auf sinndrin.ch suchen</h2>
  <p>Powered by startpage.com, der <a href="https://startpage.com/deu/protect-privacy.html?hmb=1">diskretesten</a> Suchmaschine der Welt.</p>

  <iframe width="800" height="900" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/assets/views/searchModal-iframe.html"></iframe>

  <!-- data-interchange end -->
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals end -->


<!-- Script loading -->
<script src="/assets/foundation/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/foundation/bower_components/foundation/js/foundation.min.js"></script>
{% include block/socialshareprivacy.html %}
<script>$(document).foundation();</script>
{% include block/piwik-tracking.html %}
</body>
</html>
