<!doctype html>
<html class="no-js" lang="de">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} - {{ site.name }}</title>
  <link rel="stylesheet" href="/css/app.css"/>
  <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css"/>
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css"/>
  <script src="/assets/foundation/bower_components/modernizr/modernizr.js"></script>
  {% include block/piwik-tracking.html %}
</head>
<body style="background-color:orange;">
<!-- Navigation -->
<h1>DIES IST DIE ALE VERSION DER SINNDRIN WEBSEITE UND NUR FÜR ARCHIVIERUNGSZWECKE ZU BENUTZEN.</h1>
<p>Die neue Version finden Sie <a href="https://www.sinndrin.ch">hier.</p>
<hr style="margin-bottom:300px;">
<div class="contain-to-grid">
  <nav class="top-bar" data-topbar data-options="custom_back_text: false">
    <ul class="title-area">
      <!--<li class="name"><h1><a href="/">{{ site.name }}</a></h1></li>-->
      <li class="name"><a href="/"><img style="padding:0px; position: relative; margin-top:-5px; margin-right: 50px;" width="168" src="/images/design/logo.png"></a></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menü</a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
        <li
          {% if location == 'angebote' %}class="active" {% endif %}>
          <a href="/angebote/">Angebote</a></li>
        <li
        {% if location == 'ueber-uns' %}class="active" {% endif %}><a href="/ueber-uns/">
        Über uns</a></li>
        <li
          {% if location == 'hintergrundwissen' %}class="active" {% endif %}><a href="/hintergrundwissen/">
          Hintergrundwissen</a></li>
        <li
          {% if location == 'blog' %}class="active" {% endif %}><a href="/blog/">
          Blog</a></li>
        <li><a href="https://www.sinndrin-shop.ch">Webshop</a></li>
        <li><a href="/ueber-uns/kontakt/">Kontakt</a></li>
        <li><a href="#" data-reveal-id="searchModal">Suche</a></li>
      </ul>
      <!-- Right Nav Section -->
      <!--
      <ul class="right">
      </ul>
      -->
    </section>
  </nav>
</div>
<!-- Navigation end -->
<div class="row">
  <div class="large-12 columns">

    <!-- Content -->
    <div class="row">
      {{ content }}
    </div>
    <!-- Content end -->

    <!-- BEGIN Social Share Button -->
    <div class="row">
      <div class="columns">
        <div id="socialshareprivacy"></div>
      </div>
    </div>
    <!-- END Social Share Button -->

    <!-- BEGIN Disqus Comments -->
    {% include block/disqus-comments.html %}
    <!-- END Disqus Comments -->

    <!-- Footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-12 columns">
            <p class="text-center"><span style="white-space: nowrap;">sinndrin genossenschaft</span> | <span style="white-space: nowrap;">Zürcherstrasse 54</span> | <span style="white-space: nowrap;">CH-5432 Neuenhof</span> | <span style="white-space: nowrap;"><i class="fi-telephone"></i> 044 534 64 54</span> | <span style="white-space: nowrap;"><a href="mailto:info@sinndrin.ch"><i class="fi-mail"></i> info@sinndrin.ch</a></span> | <a href="/ueber-uns/impressum/">Impressum</a> | <a href="/ueber-uns/copyright/">Copyright</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
  </div>
</div>

<!-- Reveal Modals begin -->
<div id="searchModal" class="reveal-modal" data-reveal>
  <h2>Auf sinndrin.ch suchen</h2>

  <form target='_blank' method=POST accept-charset="UTF-8" action='https://startpage.com/do/search' style="padding-bottom: 0px; padding-left: 10px; padding-right: 0px; background: #fff; height: 55px; padding-top: 2px" id=searchsys onsubmit="javascript:document.searchsys.query.value=document.searchsys.keyword.value;;for(i=0;i<this.cat.length;i++){if(this.cat[i].checked){c=this.cat[i].value;}}if (c!='web') {this.host.value=document.domain;} else {this.host.value=''};" name=searchsys><!--if you need, apply background color in form style inline-->
    <table border=0 cellspacing=0 cellpadding=0 height=46>
      <tbody>
      <tr>
        <td style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px"><a style="position: relative; background:url(https://startpage.com/graphics/startpage_small_logo.jpg)  no-repeat; filter: progid:dximagetransform.microsoft.alphaimageloader(src= https://startpage.com/graphics/startpage_small_logo.jpg,
sizingmethod='scale'); width: 95px; display: inline-block; height: 46px; top: 2px" href= 'https://startpage.com'><!--apply full url path for background--><img border=0 alt="StartPage" src= https://startpage.com/graphics/spacer.gif width=95 height=46></a></td>
        <td style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; height: 46px; padding-top: 0px" align=right><input size=32 type=hidden name=query><input class="width_update_class" style="width : 260px; _height : 23px; font : 14px verdana, arial, sans-serif; padding : 0px 6px; padding-top:1px !important; padding-bottom:1px !important;outline: none; background:white;" name=keyword><input type=hidden name=host><input value=sb type=hidden name=frm><input value=process_search type=hidden name=cmd><input value=deutsch type=hidden name=language></td>
        <td style="padding-bottom: 0px; padding-left: 6px; padding-right: 4px; padding-top: 0px"><input style="position: relative; top: -1px" id=submit2 value="Suche" type=submit></td></tr>
      <tr valign=top>
        <td></td>
        <td style="padding-top: 0px">
          <table style="position: relative; margin-top: -8px; left: 10px; display: none;" class=td_ie border=0 cellspacing=0 cellpadding=0>
            <tbody>
            <tr>
              <td style="padding-right:2px; font-family: arial, helvetica, sans-serif; color: #000000; font-size: 11px" class="thisSiteName">sinndrin.ch</td>
              <td align=middle><input style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px" id=check2 onclick="clicked='site'" value=thissite checked type=radio name=cat></td>
              <td style="padding-left: 11px; padding-right: 2px; font-family: arial, helvetica, sans-serif; color: #000000; font-size: 11px; padding-top: 1px">Web</td>
              <td align=middle><input style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px" onclick="clicked='web'" value=web type=radio name=cat></td></tr></tbody></table></td>
        <td></td></tr></tbody></table>
    <style type=text/css>.ie9fixq_opt2{height:23px!important; padding-top:0px !important; padding-bottom:0px !important;}</style>
    <!--LBS--><input type=hidden name=linkback_url value="http://www.sinndrin.ch/"><!--LBE--> </form>

  <!-- data-interchange end -->
  <br><br>
  <p>Die Suche öffnet in einem neuen Fenster. Powered by startpage.com, der <a href="https://startpage.com/deu/protect-privacy.html?hmb=1">diskretesten</a> Suchmaschine der Welt.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals end -->


<!-- Script loading -->
<script src="/assets/foundation/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/foundation/bower_components/foundation/js/foundation.min.js"></script>
{% include block/socialshareprivacy.html %}
<script>
  $(document).foundation({
  accordion: {
    callback : function (el) {
      var containerPos = $(el).parent().offset().top;
      $('html, body').animate({ scrollTop: containerPos }, 600);
    }
  }
  });

  /* function for /support page to select the clicked date in the registry form and make the accordion form visible */
  var clickAnmelden = function () {

    /* set the date */
    dateWorkshop = dateWorkshop.replace(/\./g, '');
    document.getElementById('datum').value = dateWorkshop;

    /* make form visible */
    document.getElementById('anmeldeformular').className += ' active';
    document.getElementById('anmeldeformular-li').className += ' active';

    /* remove the button */
    $("#btn-gruppen-anmeldung").remove();
  }

  $("#btn-gruppen-anmeldung").on('click', function() {
    /* make form visible */
    document.getElementById('anmeldeformular').className += ' active';
    document.getElementById('anmeldeformular-li').className += ' active';

    /* remove the button */
    $("#btn-gruppen-anmeldung").remove();
  });
</script>
<!-- Matomo noscript (Piwik) -->
<noscript><p><img src="//www.sinndrin.org/piwik/piwik.php?idsite=3&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo (Piwik) Code -->
</body>
</html>
