---
layout: two-columns
---
<div class="row">
  <div class="small-4 medium-3 large-3 left columns">
    <a href="{{ page.url }}"><img src="{{ page.image }}"></a>
  </div>
  <div class="small-8 medium-9 large-9 columns">
    <p>{{ page.subtitle }}<br>
      <a href="mailto:{{page.email}}"><i class="fi-mail"></i> {{page.email}}</a>
      {% if page.phone != "" %}<br><i class="fi-telephone"></i> {{page.phone}}</p>{% endif %}
  </div>
  <div class="columns">
    <br>
    {{content}}
  </div>
  <!-- check if realisierte-projekte for the teammember exist -->
  {% for post in site.categories.realisierte-projekte %}
  {% if post.tags contains page.title %}
  {% assign hasProjectEntries = true %}
  {% endif %}
  {% endfor %}
  {% if hasProjectEntries %} <!-- populate project entries if the teammember has some -->
  <div class="columns">
    <h2>Beteiligung an bisher realisierten Projekten</h2>
    <!-- BEGIN realisierte-projekte-list -->
    {% for post in site.categories.realisierte-projekte %}
    {% if post.tags contains page.title %}
    {% include block/realisierte-projekte-list.html %}
    {% endif %}
    {% endfor %}
    <!-- END realisierte-projekte-list -->
  </div>
  {% endif %}
  <!-- check if blog entries for the teammember exist -->
  {% for post in site.categories.blog %}
  {% if post.tags contains page.title %}
  {% assign hasBlogEntries = true %}
  {% endif %}
  {% endfor %}
  {% if hasBlogEntries %} <!-- populate blog entries if the teammember has some -->
  <div class="columns">
    <h2>Veröffentlichte Blogeinträge</h2>
    {% for post in site.categories.blog %}
    {% if post.tags contains page.title %}
    <div class="row">
      <div id="blog">
        {% include block/blog-list.html %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>