---
layout: default
---
{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<div class="row">
  <div class="large-2 columns">

  </div>
  <div class="large-10 columns breadcrumb">
    <div class="hide-for-large-up right">
      <a href="#subnav"><small><i class="fi-arrow-down"></i> zum Inhaltsverzeichnis</small></a>
    </div>
    {% include breadcrumbs.html %}
  </div>
</div>
<div class="row">
  <div class="large-10 large-offset-2 columns">
    <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="large-push-2 large-10 columns">
  {{content}}
</div>
<aside class="large-pull-10 large-2 columns">
  <div class="hide-for-large-up">
    <div class="right"><a href="#pagetop"><small><i class="fi-arrow-up"></i> zum Seitenanfang</small></a></div>
    <h3>Inhaltsverzeichnis</h3>
    <a name="subnav"></a>
  </div>
  {% if location != "" %}
  {% assign asideLocation = location | append:'.html' | prepend:'aside/' %}
    {% include {{asideLocation}} %}
  {% endif %}
</aside>