---
layout: two-columns
title:  "Hintergrundwissen"
---
<!-- Einleitung -->
<div class="row">
  <div class="columns">
    <p>Hintergrundwissen das sich während unserer Arbeitstätigkeit angesammelt hat und von dem wir glauben, dass es in der vorliegenden Form für andere von Nutzen ist, veröffentlichen wir hier.</p>
    <hr>
  </div>
</div>
<!-- Erlebnispfade -->
<div class="row clearfix">
  <a href="erlebnispfade/">
    <div class="small-3 medium-2 large-2 left columns">
      <img style="margin-top: 15px;" src="erlebnispfade/erlebnispfade.jpg">
    </div>
    <div class="small-9 medium-10 large-6 columns">
      <h4>Erlebnispfade</h4>
      <p>Erlebnispfade werden häufig eingesetzt um Umweltbildung zu betreiben. Dieser Artikel gibt interessierten Personen einen wissenschaftlichen Überblick über die Thematik der Erlebnispfade. {% include block/mehr-button.html %}</p>
    </div>
    <div class="large-4 hide-for-medium-down columns">
      &nbsp;
    </div>
  </a>
</div>
<hr>
<!-- Jobs im Umweltbereich -->
<div class="row clearfix">
  <a href="jobs-im-umweltbereich/">
    <div class="large-4 hide-for-medium-down columns">
      &nbsp;
    </div>
    <div class="small-3 medium-2 large-2 right columns">
      <img style="margin-top: 15px;" src="jobs-im-umweltbereich/jobs-im-umweltbereich.jpg">
    </div>
    <div class="small-9 medium-10 large-6 columns">
      <h4>Jobs im Umweltbereich</h4>
      <p>Eine Linksammlung zu Stellenbörsen und Direktlinks zu Arbeitgebern im grünen Bereich in der Region Schweiz und Zürich. {% include block/mehr-button.html %}</p>
    </div>
  </a>
</div>
<hr>
<!-- Stadtenwicklung -->
<div class="row clearfix">
  <a href="stadtentwicklung/">
    <div class="small-3 medium-2 large-2 left columns">
      <img style="margin-top: 15px;" src="stadtentwicklung/nachhaltige-stadtentwicklung-und-freiraummanagement.jpg">
    </div>
    <div class="small-9 medium-10 large-6 columns">
      <h4>Stadtentwicklung</h4>
      <p>In unseren Städten verstecken sich unzählige Möglichkeiten mit immensem Potential für eine nachhaltige Entwicklung. Diese Bachelor-Thesis von Sabine Ott zum Thema "Nachhaltige Stadtentwicklung und Freiraummanagement" erläutert die thematischen Grundlagen und verknüpft diese mit Landschaftsentwicklungs-Werkzeugen. {% include block/mehr-button.html %}</p>
    </div>
    <div class="large-4 hide-for-medium-down columns">
      &nbsp;
    </div>
  </a>
</div>
<hr>
<!-- Selbstständig durchführbahre Fehlerbehebungen und Diagnosen zu ihrem Fairphone -->
<div class="row clearfix">
  <a href="selbststaendige-fairphone-fehlerbehebung-und-diagnose-faq/">
    <div class="large-4 hide-for-medium-down columns">
      &nbsp;
    </div>
    <div class="small-3 medium-2 large-2 right columns">
      <img style="margin-top: 15px;" src="selbststaendige-fairphone-fehlerbehebung-und-diagnose-faq/fairphone-reparaturwerkstatt.jpg">
    </div>
    <div class="small-9 medium-10 large-6 columns">
      <h4>Selbstständige Fairphone Fehlerbehebung und Diagnose (FAQ)</h4>
      <p>Zur selbstständigen Fehlerbehebung und Diagnose Ihres Fairphones haben wir eine Themensammlung mit den am häufigsten auftretenden Fällen zusammengestellt. So ersparen Sie sich die Zeit für lange Abklärungen und Internetrecherchen. {% include block/mehr-button.html %}</p>
    </div>
  </a>
</div>
<hr>
<!-- Suffizienz -->
<div class="row clearfix">
  <a href="suffizienz/">
    <div class="small-3 medium-2 large-2 left columns">
      <img style="margin-top: 15px;" src="suffizienz/suffizienz.jpg">
    </div>
    <div class="small-9 medium-10 large-6 columns">
      <h4>Suffizienz</h4>
      <p>Um einen Übergang hin zur nachhaltigen Entwicklung zu erreichen, werden seit den 1970er Jahren als drei zentrale Denk- und Strategieansätze die Effizienz-, Konsistenz- und Suffizienzstrategie vorgebracht. Die letztgenannte scheint dabei die am schwierigsten in der Praxis umsetzbare Strategie zu sein, weil in der Öffentlichkeit bis heute kein Konsens über ihren Stellenwert herbeiführbar ist. {% include block/mehr-button.html %}</p>
    </div>
    <div class="large-4 hide-for-medium-down columns">
      &nbsp;
    </div>
  </a>
</div>
<hr>